body{
font-family:Arial;
background:#f4f7fc;
margin:0;
padding:0;
}

header{
background:#0077ff;
color:white;
text-align:center;
padding:20px;
}

.card{
background:white;
width:250px;
padding:20px;
margin:20px;
display:inline-block;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.card h2{
color:#0077ff;
}
